@model Class

@section Styles {
    <link href="~/css/Add.css" rel="stylesheet" />
}

<h2>@ViewBag.Action Class</h2>
<form asp-action="AddClass" method="post">
    <input type="hidden" asp-for="ClassId" />
    <div>
        <label asp-for="ClassName" class="form-label">Class Name</label>
        <input asp-for="ClassName" class="form-input" />
        <span asp-validation-for="ClassName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" asp-controller="Class" class="btn btn-primary">Cancel</a>
</form>