@model Class

@section Styles {
    <link href="~/css/Delete.css" rel="stylesheet" />
}

<h2>Delete A Class</h2>

<form asp-action="DeleteClass" method="post">
    <input type="hidden" asp-for="ClassId" />
    <h3>@Model.ClassName</h3>
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Class" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>