@model IEnumerable<Class>

@section Styles {
    <link href="~/css/Index.css" rel="stylesheet" />
}

<h2>List of Classes</h2>
@if (User.IsInRole("Admin"))
{
    <a asp-action="AddClass" asp-controller="Class" class="btn btn-primary">Add Class</a>
}

<table class="table-brown">
    <thead>
        <tr>
            <th>Class ID</th>
            <th>Class Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var classes in Model)
        {
            <tr>
                <td>@classes.ClassId</td>
                <td>@classes.ClassName</td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="EditClass" asp-controller="Class" asp-route-id="@classes.ClassId">Edit</a>
                        <a asp-action="DeleteClass" asp-controller="Class" asp-route-id="@classes.ClassId">Delete</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>