@model Language

@section Styles {
    <link href="~/css/Add.css" rel="stylesheet" />
}

<h2>@ViewBag.Action Language</h2>

<form asp-action="AddLanguage" method="post">
    <input type="hidden" asp-for="LanguageId" />
    <div>
        <label asp-for="LanguageName" class="form-label">Language:</label>
        <input asp-for="LanguageName" class="form-control" />
        <span asp-validation-for="LanguageName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" asp-controller="Language" class="btn btn-primary">Cancel</a>
</form>