@model Language

@section Styles {
    <link href="~/css/Delete.css" rel="stylesheet" />
}

<h2>Delete A Language</h2>

<form asp-action="DeleteLanguage" method="post">
    <input type="hidden" asp-for="LanguageId" />
    <h3>@Model.LanguageName</h3>
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Language" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>