@model IEnumerable<Language>

@section Styles {
    <link href="~/css/Index.css" rel="stylesheet" />
}

<h2>List of Languages</h2>
<a asp-action="AddLanguage" asp-controller="Language">Add A Language</a>
<table class="table-brown">
    <thead>
        <tr>
            <th>Language ID</th>
            <th>Language Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var language in Model)
        {
            <tr>
                <td>@language.LanguageId</td>
                <td>@language.LanguageName</td>
                <td>
                    <a asp-action="EditLanguage" asp-controller="Language" asp-route-id="@language.LanguageId">Edit</a>
                    <a asp-action="DeleteLanguage" asp-controller="Language" asp-route-id="@language.LanguageId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
