@model Book
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>This is the delete page</p>

<form asp-action="DeleteBook" method="post">
    <input type="hidden" asp-for="BookId" />
    <h2>@Model.Title, @Model.Language.LanguageName</h2>
    <h2>@Model.Author</h2>
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Book" asp-action="ListBook" class="btn btn-primary">Cancel</a>
</form>