@model Book

@section Styles {
    <link href="~/css/Delete.css" rel="stylesheet" />
}

<h2>Delete Book</h2>

<form asp-action="DeleteBook" method="post">
    <input type="hidden" asp-for="BookId" />
    <img src="~/@Model.BookCover" alt="Book Cover" class="book-cover" />
    <h2>@Model.Title, @Model.Author</h2>
    <h2>@Model.Language.LanguageName, @Model.Class.ClassName</h2>
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Book" asp-action="ListBook" class="btn btn-primary">Cancel</a>
</form>